<%- include('../layouts/header.ejs') %>

<nav class="navbar bg-dark">
    <div class="col-md-9 col-lg-8 ">
        <h4 class="login-heading text-white">Welcome Admin</h4>
      </div>
      <div class="navbar ms-auto">
        <button class="btn my-2 mx-3 my-sm-0" type="submit"><a style="text-decoration: none;"href="/admin/dashboard">Dashboard</a></button>
      </div>
      <div class="navbar ms-auto">
        <button class="btn btn-outline-light my-2 mx-3 my-sm-0" type="submit"><a style="text-decoration: none;" href="/admin/logout">Logout</a></button>
      </div>
    </nav>
<img src="https://png.pngtree.com/background/20211217/original/pngtree-technology-round-dashboard-picture-image_1598385.jpg" alt="" width="100%" height="90%" >


<%- include('../layouts/footer.ejs') %>
